<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   
    <form style="text-align: center; margin-top: 50px;" action="", method="post">
         {% csrf_token %}
        <h2>Login</h2>
        <p>Tài khoản linh , pass:1</p>
        <input type="text" style="margin: 10px 0; padding: 10px;" placeholder="username" required name="username"><br>
        <input type="password" style="margin: 10px 0; padding: 10px;" placeholder="password" required name="password"><br>
        <input type="submit" style="padding: 10px 20px;" value="Login">
    </form>

</body>
</html>